/* src/components/Login.css */
.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.flip-enter {
    transform: rotateY(90deg);
}

.flip-enter-active {
    transform: rotateY(0deg);
    transition: transform 300ms;
}

.flip-exit {
    transform: rotateY(0deg);
}

.flip-exit-active {
    transform: rotateY(90deg);
    transition: transform 300ms;
}

/* src/components/Login.css */
.slide-text {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: '20px';
    /* Adjust based on the text size */
}

.slide-up {
    animation: slideUp 0.5s forwards;
}

.slide-down {
    animation: slideDown 0.5s forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.form-slide-up {
    animation: formSlideUp 0.5s forwards;
}

.form-slide-down {
    animation: formSlideDown 0.5s forwards;
}

@keyframes formSlideUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes formSlideDown {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}